<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PlantillasEmpresarial.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="IMSS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PlantillasEmpresarial.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="IMSS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
	<connectionStrings>
		<!--PRODUCCION-->
		<!--<add name="ConexionSIP2000" connectionString="Data Source=SQLORGPRO;Initial Catalog=casameneses_bd;User ID=sipcons;Password=Y29uc3VsdGFz" providerName="System.Data.SqlClient"/>-->
		<!--PRUEBAS-->
		<!--<add name="ConexionSIP2000" connectionString="Data Source=UIAW12DBPRU01V\SQLINTPRUTIJ;Initial Catalog=sip2000_tijbd;Persist Security Info=True;User ID=siptijuana;Password=cHJ1ZWJhczE" providerName="System.Data.SqlClient" />-->
		<!--DESARROLLO-->
		<add name="ConexionSIP2000" connectionString="Data Source=SQLORGDES;Initial Catalog=casameneses_bd;User ID=sades;Password=RDNzYXJyb2xsbw" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!--<add key="ReportsPath" value="\\dinf_nt\sipexes\Ibero\Plantillas\Reportes\" />-->
		<add key="ReportsPath" value="D:\Desarrollo\Soluciones 2015\Plantillas\Solution_Plantillas\Plantillas\Reports\"/>
		<add key="Drive" value="C" />
		<add key="Formas" value="C:\SIP2000\Salidas\" />
		<!--'ABBR 10/02/2017. Ruta PathsHome.-->
		<!--<add key="JetForm" value="C:\PrepaIbero\JFSRV\"/>-->
		<!--<add key="WordDir" value="C:\PrepaIbero\WINWORD\"/>-->
		<add key="QueriesDir" value="\Salidas\" />
		<add key="wsAdminProject" value="http://intraweb.uia.mx/AdministradorProyectos/AdminProject.asmx"/>
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <PlantillasEmpresarial.My.MySettings>
      <setting name="Login" serializeAs="String">
        <value />
      </setting>
      <setting name="Empresa" serializeAs="String">
        <value />
      </setting>
    </PlantillasEmpresarial.My.MySettings>
  </userSettings>
  <applicationSettings>
    <PlantillasEmpresarial.My.MySettings>
      <setting name="PlantillasEmpresarial_AdminProject_GlobalProject"
        serializeAs="String">
        <value>http://intraweb.uia.mx/AdministradorProyectos/AdminProject.asmx</value>
      </setting>
    </PlantillasEmpresarial.My.MySettings>
  </applicationSettings>
</configuration>